Phone: +32 465 86 05 15


Hi, I am a dedicated software developer with a strong passion for web development, and I am excited to express my genuine interest in joining Xplore Group. Currently I am living in Namur Wallonia, Belgium and I have right to work valid from 10 January 2024.